<section class="messages">
<h1 class="page-title">Messages</h1>
<% for user in @users %>
    <ul class="message-list">
      <!--todo: use this class to style the messages and remove text read below-->
      <li>
        <div>
          <a class="start-conversation message hand-cursor <%=user[1] ? 'read-message' : 'new-message' %>" data-sid=<%=session[:current_user]['uid']%>
             data-rip= <%=user[0].steam_id%> >  <%= user[0].steam_nickname %>  </a>
          <span class="message-timestamp"><%= user[2] %> </span>
        </div>

      </li>
    </ul>
<% end %>
</section>