<li class="other">
  <div class="avatar">
    <img src="<%= @message.from_user.steam_image %>" />
  </div>
  <div class="chatboxmessagecontent">
    <p><%= @message.body %></p>
    <time datetime="<%= @message.timestamp %>" title="<%= Time.at(@message.timestamp).strftime("%d %b  %Y at %I:%M%p") %>">
      • <%= Time.at(@message.timestamp).strftime("%H:%M") %>
    </time>
  </div>
</li>