<% publish_to '/' + @conversation_id do %>
var id = "<%= @conversation_id %>";
var chatbox = $("#chatbox_" + id + " .chatboxcontent");
var current_user_id = $('meta[name=user-id]').attr("content");
var sender_id = "<%= session[:current_user]['uid'] %>";

if (current_user_id !== sender_id) {
    chatbox.append("<%= j render( partial: 'messages/message_other') %>");

    chatbox.scrollTop(chatbox[0].scrollHeight);

    chatBox.chatWith(id);
    chatbox.scrollTop(chatbox[0].scrollHeight);
    chatBox.notify();
    chatBox.hasRead("<%= @message.id %>");

}
<% end %>
<% publish_to '/user/' + @receiver_id do %>
var sender_id = "<%= session[:current_user]['uid'] %>";
if ($.inArray(sender_id, dota2connect.new_messager_ids) === -1 && $(".chat_with_"+sender_id).length === 0 ) {
    dota2connect.new_messager_ids.push(sender_id)
    $('#all-messages').text("Messages(" + dota2connect.new_messager_ids.length + ")")
    $("#chatAudio")[0].play();
}
<% end %>