(function(){
	$("#home").html("<%=j render partial: "index", locals: {user: @user}%>");

//    todo: ideally i should re-register all event handlers in the user.js script, but there is no explicit handle to invoke it at the moment, so putting it below
    $('.start-conversation').off('click',d2c.startConversation);
    $('.start-conversation').click(d2c.startConversation);


})();
