<%=form_for @user, url:add_coach_profile_path(id: @user.steam_id), method: :put, remote: true  do |u|%>
	<div class="form-group row">
		<%=u.label :coached_by%>
		<%=u.collection_select(:coached_by, @potential_coaches, :steam_id, :steam_nickname, :prompt => "Select a coach") %>
	</div>
	<div class="modal-footer">
		<%=u.submit "Add as Coach", class: "btn btn-primary", data: {disable_with: "Processing..."}%>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
<%end%>
