<h1 class="page-title">My Coaches</h1>
<div id="accordion" class="parent_width">
	<%@coach_data.each do |data|%>
		<h3><%=link_to data.coached_by.steam_nickname, profile_path(id: data.coached_by.steam_id)%></h3>
		<div>
			<%=link_to "Coach Profile" , profile_path(id: data.coached_by.steam_id), :class => "blue" , :target => "_blank" %>
            <br/>
            <br/>
			<ul>
				<%data.sessions.each do |session|%>
					<li>
					$<%=session.total_fees%> paid on <%=Time.at(session.since).strftime("%B %e, %Y at %I:%M %p")%> for <%=session.hours%> hour(s): 
					<%=link_to "Review", review_rating_coach_path(id: data.coached_by.steam_id,uuid: session.uuid), remote: true, class: "btn btn-primary"%>
					</li>
                  <br/>
				<%end%>
			</ul>
		</div>
	<%end%>
</div>
