<% if notice %>
  <% if flash[:friend_id] != nil %>
    <% publish_to '/user/' + flash[:friend_id] do %>
      $("#notifications").text("Notifications(New)");
      $("#chatAudio")[0].play();
    <% end %>
  <% end %>
  <p id="notice" class="alert alert-info flash_orientation"><%= notice %></p>
  <p id="notice" class="alert alert-info flash_orientation">Also make sure you leave the coach a review here
  <%=link_to "My Coaches", populate_coaches_profile_path(id: session[:current_user]['uid']), remote: true%>
  </p>

<% end %>
<a class="pull-left btn btn-primary push-state" href="/" data-remote="true">Back to Search</a>
<h1 class="page-title"><span class="<%='verified' if user.is_verified%>"><%=user.steam_nickname%></span></h1>
<div class="form animated fadeIn">
  <div class = "form-row">
    <%=image_tag(user.steam_image)%>&nbsp; <%=user.steam_nickname%> &nbsp;
   <a href="https://steamcommunity.com/profiles/<%=user.steam_id%>" target="_blank" class="btn btn-primary"> View Steam Profile</a>
  </div>
  <div class="fb-like" data-href="/profiles/<%=user.steam_id%>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
  <div class = "form-row">
    <div class= "form-col">
      <label class="heading">MMR: </label>
      <%=user.mmr%>
      <%if user.mmr_verified%>
        <%=image_tag('ok.png')%>
      <%end%>
      <%if !session[:current_user].blank? && user.can_be_verified_by(session[:current_user]['uid'])%>
        <%=link_to "Verify MMR", verify_mmr_profile_path(id: user.steam_id), method: :put, remote: true %>
      <%end%>
    </div>
    <div class= "form-col">
      <label class="heading">Is A Coach: </label>
      <%=user.is_a_coach%>
    </div>
  </div>
  <% if user.is_a_coach %>
    <div class="form-row">
      <div class="form-col">
        <label class="heading">Coaching price per hour: </label>
        <%= user.coaching_rate %> $
      </div>
      <div class="form-col">
        <label class="heading">Provides Free Coaching: </label>
        <%= user.provides_free_coahing %>
      </div>
    </div>
  <% end %>
  <div class = "form-row">
    <div class= "form-col">
      <label class="heading">Dota Buff Link: </label>
      <a href="<%=user.dota_buff_link%>" target="_blank" rel="nofollow"><%=user.dota_buff_link%></a>
    </div>
  </div>
  <div class = "form-row">
    <div class= "form-col">
      <label class="heading">Regions: </label>
      <ul>
	<%unless user.regions.blank?%>
	  <%user.regions.each do |region|%>
	    <li><%=region%></li>
	  <%end%>
	<%end%>
      </ul>
    </div>
    <div class= "form-col">
      <label class="heading">Languages: </label>
      <ul>
	<%unless user.languages.blank?%>
	  <%user.languages.each do |language|%>
	    <li><%=language%></li>
	  <%end%>
	<%end%>
      </ul>
    </div>
  </div>
  <%unless user.about_me.blank?%>
    <div class = "form-row about-me">
      <label class="heading">About Me: </label>
      <p><%=user.about_me%></p>
    </div>
  <%end%>
</div>
<%if (!(session[:current_user].blank? || user.same_as(session[:current_user])))%>
  <%=  content_tag("a","Send Message", class: "start-conversation btn btn-primary hand-cursor", "data-sid" => session[:current_user]['uid'], "data-rip" => user.steam_id) %>
<%end%>
<%=link_to "Edit", edit_profile_path, remote: true, class: "btn btn-primary" if user.same_as(session[:current_user])%>
<%if user.friend_of(session[:current_user]) %>
  <%if user.is_a_coach %>
    <% if user.coaching_rate >= 1 %>
      <%= link_to "Get coaching", new_coach_path(id: session[:current_user]['uid'], coach_id: user.steam_id), remote: true, class: "btn btn-primary"%>
    <% end %>
    <%if user.provides_free_coahing or user.coaching_rate == 0 %>
      <%= link_to "Request free coaching", free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-primary" unless user.pending_free_coaching_request(session[:current_user])%>
      <%= link_to "Cancel free coaching", cancel_free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-default" if user.pending_free_coaching_request(session[:current_user])%>
    <%end%>
  <%end%>
<%elsif user.pending_friend_request(session[:current_user])%>
  <%=link_to "Cancel Friend Request", cancel_request_friend_path(id: session[:current_user]['uid'], friend_id: user.steam_id), method: :put, remote: true, class: "btn btn-default"%>
    <%if user.is_a_coach %>
        <% if user.coaching_rate >= 1 %>
            <%= link_to "Get coaching", new_coach_path(id: session[:current_user]['uid'], coach_id: user.steam_id), remote: true, class: "btn btn-primary"%>
        <% end %>
        <%if user.provides_free_coahing or user.coaching_rate == 0 %>
            <%= link_to "Request free coaching", free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-primary" unless user.pending_free_coaching_request(session[:current_user])%>
            <%= link_to "Cancel free coaching", cancel_free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-default" if user.pending_free_coaching_request(session[:current_user])%>
        <%end%>
    <%end%>
<%elsif (!(session[:current_user].blank? || user.same_as(session[:current_user])))%>
  <%=link_to "Send A Friend Request", send_request_friend_path(id: session[:current_user]['uid'], friend_id: user.steam_id),method: :put, remote: true, class: "btn btn-primary" %>
    <%if user.is_a_coach %>
        <% if user.coaching_rate >= 1 %>
            <%= link_to "Get coaching", new_coach_path(id: session[:current_user]['uid'], coach_id: user.steam_id), remote: true, class: "btn btn-primary"%>
        <% end %>
        <%if user.provides_free_coahing or user.coaching_rate == 0 %>
            <%= link_to "Request free coaching", free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-primary" unless user.pending_free_coaching_request(session[:current_user])%>
            <%= link_to "Cancel free coaching", cancel_free_request_coach_path(coachee_id: session[:current_user]['uid'], coach_id: user.steam_id),method: :put, remote: true, class: "btn btn-default" if user.pending_free_coaching_request(session[:current_user])%>
        <%end%>
    <%end%>
<%end%>
<%if !session[:current_user].blank? && user.can_be_verified_by(session[:current_user]['uid']) %>
  <%=link_to "Verify User", verify_profile_path(id: user.steam_id), method: :put, remote: true %>
  <%=link_to "Un Verify User", un_verify_profile_path(id: user.steam_id), method: :put, remote: true %>
<%end%>
<%if (session[:current_user].blank?) %>
    <%= link_to "Get coaching", sign_in_coach_path(), remote: true, class: "btn btn-primary"%>
    <%= link_to "Send Message", sign_in_coach_path(), remote: true, class: "btn btn-primary"%>
<%end%>
