<div class="form">
<div class = "form-row">
		<%=image_tag(session[:current_user]['image'])%>
		<%=session[:current_user]['nickname']%>
</div>
<%=form_for user, url: profile_path(id: user.steam_id), remote: true, method: :put do |u|%>
	<div class = "form-row">
		<div class= "form-col">
			<%=u.label :mmr %>
			<%=u.number_field :mmr %>
		</div>
		<div class= "form-col">
			<%=u.label :is_a_coach %>
			<%=u.radio_button :is_a_coach, 'true' %>
			<%= "Yes"%>
			<%=u.radio_button :is_a_coach, 'false' %>
			<%= "No"%>
		</div>
	</div>
	<div class="form-row">
		<div class= "form-col">
			<%=u.label :dota_buff_link %>
			<%=u.url_field :dota_buff_link %>
		</div>
		<div class= "form-col" id="coaching_rate">
			<%=u.label :coaching_price, 'Coaching Price per hour' %>
			<%=u.number_field :coaching_rate %>$
		</div>
	</div>
	<div class="form-row">
		<div class="form-col">
		</div>
		<div class= "form-col" id="free_coaching">
			<%=u.label :provides_free_coahing %>
			<%=u.radio_button :provides_free_coahing, 'true' %>
			<%= "Yes"%>
			<%=u.radio_button :provides_free_coahing, 'false' %>
			<%= "No"%>
		</div>
	</div>
	<div class="form-row">
		<div class="form-col">
			<%=u.label :regions%>
		</div>
		<div class="region-list">
			<%Regions.first.names.each do |region|%>
				<div class="region-list-option">
					<%= check_box_tag "user[regions][]", region, u.object.regions.include?(region)%>
					<%=region%>
				</div>
			<%end%>
		</div>
	</div>
	<div class="form-row">
		<div class="form-col">
			<%=u.label :languages%>
		</div>
		<div class="language-list">
			<%Languages.first.names.each do |language|%>
				<div class="language-list-option">
					<%= check_box_tag "user[languages][]", language, u.object.languages.include?(language)%>
					<%=language%>
				</div>
			<%end%>
		</div>
	</div>
	<div class="form-row">
		<div class= "about-me">
			<%=u.label :about_me %>
            <%=u.text_area :about_me,  :placeholder => "Make sure you mention about your availabilty timings.." %>
		</div>
	</div>
	<%=u.submit "Save", class: "btn btn-primary"%>
	<%=link_to "Cancel", profile_path(user.steam_id), class: "btn btn-default", remote: true%>
<%end%>
</div>
