<h1 class="page-title">Review & Rating</h1>
<div class = "row">
	<div class="col-lg-6">
		<label class="heading">Average Rating: </label>
		<%if user.average_rating > 0%>
			<%=user.average_rating.round(2)%>
		<%else%>
			TBD
		<%end%>
	</div>
</div>
<br/>
<%if user.has_both_review%>
	<div class="row">
		<div class="col-lg-5">
			<label class="heading">Best Rating:</label>
			<%=user.best_rating%>
			<br/>
			<label class="heading">Review:</label>
			<%=user.best_review%>
		</div>
      <br/>
		<div class="col-lg-2">

			vs

		</div>
      <br/>
		<div class="col-lg-5">
			<label class="heading">Worst Rating:</label>
			<%=user.worst_rating%>
			<br/>
			<label class="heading">Review:</label>
			<%=user.worst_review%>
		</div>
	</div>
<%end%>
<br/>


<% if @coaches_data != nil %>
    <h3 class="heading">All Reviews</h3>
<% end %>

<div id="accordion" class="parent_width">
	<%coach_data.each do |data|%>
		<h3><%=link_to data.coached_to.steam_nickname, profile_path(id: data.coached_to.steam_id)%></h3>
		<div>
          <!--todo: removing profile link as this is too much info at the moment, will introduce later if necessary-->
			<!--<%=link_to "Profile", profile_path(id: data.coached_to.steam_id)%>-->
			<ul>
				<%data.sessions.each do |session|%>
					<%unless session.rating.blank?%>
						<li>
						Rating: <span class="small-text"><%=session.rating%></span>
                            ||
						<%unless session.review.blank?%>
							Review: <span class="small-text"><%=session.review%></span>
						<%end%>
						</li>

					<%end%>
				<%end%>
			</ul>
		</div>
	<%end%>
</div>
