<section class="profile-wrapper">
	<div class="profile-innerwrapper">
	<aside class="profile-menu sidebar-offcanvas" id="sidebar" role="navigation">
		<ul class="nav">
			<li class="active"><%=link_to "Profile", profile_path, remote: true%></li>
			<li><%=link_to "My Coaches", populate_coaches_profile_path(id: user.steam_id), remote: true if user.same_as(session[:current_user])%></li>
		    <li><%=link_to "Reviews & Ratings", populate_reviews_profile_path(id: user.steam_id), remote: true if user.is_a_coach%></li>
		</ul>
	</aside>
	<div class="profile-details" id="content">
		<%=render partial: "profile", locals: {user: user}%>
	</div>
	</div>
</section>
