(function(){
	$("#home").html("<%=j render partial: "show", locals: {user: @user}%>");

    $('.start-conversation').off('click',d2c.startConversation);
    $('.start-conversation').click(d2c.startConversation);
    highlightActiveMenu();

    $('a[data-remote = true]').click(function () {
        if($(this).hasClass("push-state"))
            history.pushState($(this).attr('href'), "Dota2Connect", $(this).attr('href'));
    })

})();
