.chat-section{
	@include span-columns(2);
	margin-top:30px;
	box-shadow: 0px 2px 7px #888888;
	header{
		font-size:14px;
		background:#4B97E4;
		padding:2px 10px;
		color:#fff;
		text-align:center;
	}
	ul{
		padding:0px;
		margin:0px;
		border:1px solid #cecece;
		height:500px;
		overflow-y:scroll;
	}
	li{
		list-style-type:none;
		&:first-child{
			padding:5px 0px;
		}
	}
	a{
		color: #444;
  		padding: 8px 20px;
  		background:none;
  		display:block;
  		font-size:13px;
  		&:hover{
  			background:#f1f1f1;
  			text-decoration:none;
  			cursor:pointer;
  		}
	}
}