body,html{
	font-size:18px;
	font-family:'Roboto Slab', serif;
	height:100%;
	width:100%;
	color:#4d4d4d;
}
.search-coaches-wrapper h1{
	font-size: rem(21);
}
h1{
	font-size: rem(32);
}
h3{
	font-size: rem(16);
}
.section-title{
	font-size: rem(22);
	text-align:center;
	margin-bottom:	25px;
}
.hidden {
	display: none;
}
.form-action-btn input,.btn-primary,input[type='submit'],.btn-default{
	border-radius:4px;
	background:#0077C8;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	color:#fff;
	border:1px solid #0077C8;
	font-size:14px;
	padding:7px 10px;
	text-transform: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	outline:none;
	&:hover{
		background:#0D90EA;
		text-decoration:none;
	}
}
#dummy .form-action-control {
	input[type="checkbox"] {
 	   display:none;
	}
	input[type="checkbox"] + label span {
	    display:inline-block;
	    width:19px;
	    height:19px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    background:asset_url("check_radio_sheet.png") left top no-repeat;
	    cursor:pointer;
	}
	input[type="checkbox"]:checked + label span {
	    background:asset_url("check_radio_sheet.png") -19px top no-repeat;
	}
}

.btn-default{
	background:#f1f1f1;
	color:#444;
	border-color:#cecece;
	&:hover{
		background:#E2E2E2;
		text-decoration:none;
	}
}

.primary-btn {
  border: 1px solid #3169AA;
  display: inline-block;
  padding: 10px 15px 10px 15px;
  color: #FFF;
  background: #408BD0;
  background: linear-gradient(to bottom, #62ACDE 0%, #4A8CCA 100%);
  font-size: 13px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  text-decoration: none;

  &:hover{
  	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	border-color: rgba(46, 106, 182, 0.8);
	background: #2270BB;
	background: linear-gradient(to bottom, #3F94CE 0%, #2270BB 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.28);
	text-decoration:none;
	outline: none;
  }
}


.secondary-btn {
  border-radius: 3px;
  color: #FFF;
  font-size: 13px;
  color: #3778C7;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #BBB;
  background: #FFF;
  margin-right: 10px;
  background: #FFF linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.13);
  text-decoration: none;
  cursor: pointer;

  &:hover{
  	text-decoration:none;
  	background: #F6F6F6;
  	background: #FFF linear-gradient(to bottom, rgba(193, 193, 193, 0.15) 0%, rgba(62, 62, 62, 0.15) 100%);
  }
}
.flash_message{
	position:absolute;
	width:100%;
	.flash_orientation{
		color:green;
		font-size:15px;
	}
}
