.footer-wrapper{
	display:none;
	padding:20px 30px;
	background:#000;
	color:#fff;
	font-size:14px;
	text-align:right;
	a{
		color:#55DAF9;
		text-decoration:underline;
	}
	#faq{
	cursor:pointer;
	}
}