.guest{
	.container-wrapper{}
	.search-coaches-wrapper{
		margin-top:0px;
		margin-bottom:10px;
		@include span-columns(12);
		.search-actions{
			@include span-columns(8);
			@include shift(2);
		}
		.after-search + .search-actions{
			@include span-columns(7);
			@include shift(0);
		}
	}
	.welcome{
		display:block;
	}
	.how-it-works{
		display:block;
		background:#E55C5C;
		color:#FFF2DB;
		font-size:15px;

		p{
			margin-top:0px;
			margin-bottom:17px;
			padding-right:30px;
		}
	}
	h1{
		text-align:center;
		margin-bottom:50px;
		color:#FFF2DB;
		&.section-title, &.page-title{
			color:#444;
		}
	}
	.lets-start h1{
		display:block;
	}
	.tagline-desc{
		@include clearfix;
		.tagline-desc-l{
			@include span-columns(4);
			position:relative;
			color:#fff;
			font-size:32px;
			span{
				position:absolute;
				right:30px;
				top:90px;
				color:#CE453E;
			}
		}
		.tagline-desc-c{
			@include span-columns(4);
		}
		.tagline-desc-r{
			@include span-columns(4);
			position:relative;
			color:#fff;
			font-size:32px;
			span{
				position:absolute;
				left:30px;
				top:90px;
				color:#CE453E;
			}
		}
	}
	& + .footer-wrapper{
		display:block;
	}
}

.welcome,.how-it-works,.lets-start{
	margin-bottom:30px;
	padding-bottom:70px;
}
.welcome{
	width:100%;
	overflow:hidden;
	position:relative;
	display:none;

	.tagline{
		font-family:'Roboto Slab',Codystar,Monofett,Pathway Gothic One,Bangers,Allerta Stencil, Helvetica, san-serif;
		padding:20px;
  		font-size: 50px;
  		line-height: 70px;
  		font-weight:200;
		color:#000;
		margin-top:100px;
		width:100%;
		text-transform:uppercase;
		-webkit-font-smoothing: antialiased;
		text-align:center;
		mark{
			background:none;
			color:#E55C5C;
		}
	}
	.sumo{
		background:asset_url("sumo_copy.png") center center no-repeat;
		height: 250px;
    width: 100%;
	}
} 
.how-it-works{
	display:none;
	overflow:hidden;
	clear:both;
	text-align:center;
	
	.hiw-wrapper{
		@include clearfix;
		.hiw-video{
			@include span-columns(6);
			text-align:right;
		}
		.hiw-desc{
			@include span-columns(6);
			text-align:left;
		}
	}

	.faq-link{
		color: #fff;
		text-decoration:underline;
	}
}
.lets-start{
	margin-bottom:40px;
	.lets-start-title{
		display:none;
	}
	h1{
		color:#000;
	}
}
.faq-link{
	color:#55DAF9;
	cursor:pointer;
}
.faq-overlay{
	position:fixed;
	top:0px;
	bottom:0px;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.9);
	display:none;
	color:#FFF2DB;
	z-index:9;
	p {
		margin-bottom:25px;
		span{
			font-size: 26px;
	  		line-height: 29px;
	  		display:inline-block;
	  		margin-bottom:8px;
	  		color:#E55C5C;
	  	}
	}
	.faq-questions{
		width:50%;
		margin:120px auto 0px;
		font-size:16px;
	}
	#faq-close{
	  position: absolute;
	  right: 26px;
	  top: 0px;
	  font-size: 69px;
	  color: #fff;
	  font-family: verdana,sans-serif;
	  &:hover{
	  	text-decoration:none;
	  	color:#E55C5C;
	  }
	}
}
