a{
	text-decoration:none;
	&:hover{
		text-decoration:underline;
	}
}
.site-header{
	@include outer-container(100%);
	background:#f1f1f1;
	.menu-bar-container{
		overflow:hidden;
		background:#000;
	}
	
	a.logo{
  		font-size: rem(16);
  		color:#fff;
		margin:0px 0px 0px 10px;
		padding:9px 0px 0px;	
		display:inline-block;
		line-height:10px;
		img{
			height:40px;
		}
  	}
	
	.menu-bar{
		float:right;
		margin-right:10px;
		ul{
			margin:10px 0px;
		}
		li{
			margin:0px 10px 0px 0px;
			padding:5px 10px;
			list-style-type:none;
			display:inline-block;
			a{
				font-size: rem(13);
				color:#ececec;
				display:inline-block;
				vertical-align:middle;
				img{
					margin-right:5px;
					vertical-align:middle;
					height:25px;
				}
				i{
					margin-right:5px;
				}
			}
		}
	}
}