.messages{
  box-shadow: 0px 2px 7px #888;
  min-height: 520px;
  overflow: hidden;
  font-size: 16px;

  .message-list{
	padding:0px;
	margin:0px;
	li{
		padding:10px 30px;
		background:#f1f1f1;
		list-style-type:none;
		margin-bottom:5px;
		a.message{
			width:200px;
			display:inline-block;
		}
		.message-timestamp{
			display:inline-block;
			font-size:14px;
			color:#a6a6a6;
		}

	}	
}

}
