.notification{
	box-shadow: 0px 2px 7px #888;
	min-height:520px;
	overflow:hidden;
	font-size:16px;
	ul,li{
		list-style-type:none;
		margin:0px;
		padding:0px;
	}
	.profile-innerwrapper{
		@include clearfix;
	}
	.notification-menu{
		@include span-columns(3);
	}
	.notification-details{
		@include span-columns(9);

		li{
			margin-bottom:10px;
			font-size: rem(13);
			overflow: hidden;
    		padding: 10px 15px;
    		background:#f1f1f1;

    		a{
				display:inline-block;
				padding:5px 10px;
				margin-right:20px;
			}
		}
		.notification-profile{
			float:left;
			img{ 
				vertical-align:middle;
			}
		}
		.notification-btn-wrapper{
			float:right;
		}
		
	
	}
	.notification-menu{
		li{
			background:#f1f1f1;
			border:1px solid #fff;
			a{
				color:#444;
				text-align:center;
				display:block;
				padding:5px 10px;
			}
			&.active a{
				background:#DADADA;
			}
		}
	}
}	
	