.profile-wrapper{
	background:#fff;
	padding-bottom:30px;
	overflow:hidden;
	font-size:16px;
	min-height:520px;
	box-shadow: 0px 2px 7px #888888;

	.profile-innerwrapper{
		@include clearfix;
	}
	.profile-menu{
		@include span-columns(3);
	}
	.profile-details{
		@include span-columns(9);
		h1.page-title{
			margin-bottom:20px;
			span{
				display:block;
				&.verified{
					background: asset_url("icon-verified.png") top left no-repeat;
					padding-left: 58px;
					padding-top: 10px;
					padding-bottom: 10px;
					padding:10px 0px 10px 58px;
					display:inline-block;
				}
			}
		}
		.ui-accordion {
			h3{
				background: #4B97E4;
			}
			.ui-accordion-header a{color:#fff;}
			.ui-accordion-content a{color:#444;}
		}
	}
	ul,li{
		list-style-type:none;
		margin:0px;
		padding:0px;
	}
	.profile-menu{
		li{
			background:#f1f1f1;
			border:1px solid #fff;
			a{
				color:#444;
				text-align:center;
				display:block;
				padding:5px 10px;
			}
			&.active a{
				background:#DADADA;
			}
		}
	}
	h2{
		font-size: rem(14px);
		margin-top:0px;
	}
	.language-list{
		float:left;
		 width:520px;
		.language-list-option{
			float:left;
			width:170px;
		}
	}
	.region-list{
		float:left;
		 width:520px;
		.region-list-option{
			float:left;
			width:170px;
		}
	}
	.about-me{
		textarea{
			width: 450px;
			margin-left:10px;
			vertical-align:middle;
		}
		p{
			margin-right:20px;
		}
	}
}
.form{
	@include clearfix;
	color:#666666;
	.form-row{
		width:100%;
		margin-bottom:20px;
		@include span-columns(12);
		.form-col{
			@include span-columns(4);
		}
	}
}
.form .form-row.about-me{
	margin-bottom: 30px;
}
.payment-popup-content{
	padding:10px 25px;
	.payment-popup-rate{
		label:not(:first-child){
			margin-left:20px;
		}
	}
}



