.wrapper{
	@include outer-container(100%);
}
.container-wrapper{
	@include outer-container(100%);
	padding-bottom:60px;
}
.search-coaches-wrapper{
	@include span-columns(10);
	@include clearfix;
	margin-top: 30px;
	padding-bottom:0px;
	.search-input-text{
		color:#f6931f;
		border:none;
	}
	.page-title{
		text-align:center;
	}
	.search-result{
		@include span-columns(3);
		box-sizing: border-box;
		padding-left:10px;
		Padding-bottom:30px;
		background:#f9f9f9;
		height:520px;
		overflow-y:scroll;
		box-shadow: 0px 2px 7px #888888;
		ul{
			margin:0px;
			padding:0px;
		}
		li{
			padding:5px 0px;
			margin:5px 0px;
			list-style-type:none;
		}
		h3{
			font-weight:normal;
			font-size: rem(16);
		}
		a{
			font-size: rem(12);
			color:#444;
			display:inline-block;
			img{
				margin-right:10px;
				vertical-align:middle;
			}
		}
		&.before-search{
			display:none;
		}

		&.after-search{
			display:inline-block;
		}
	}

	.search-actions{
		@include span-columns(9);
		box-sizing: border-box;
		margin-right:0px;
		font-size:14px;
		padding-bottom:20px;
		float:right;
		background:#fff;
		box-shadow: 0px 2px 7px #888888;
		fieldset{
			border:none;
		}
		p{
			margin-bottom:20px;
		}
		.form-action-container{
			@include span-columns(10);
			@include shift(1);
			@include clearfix;
			margin-bottom:25px;
			.form-action-control{
				margin-bottom:10px;
				label{
					font-weight:normal;
					font-size: rem(14);
				}
				&.ui-slider{
					margin-left:8px;
				}
			}
		}
	}
}
