<h2 class="section-title"> Search Results:</h2>
<% if @users.empty? %>
    No Coaches Found
<% else %>
	<ul>
    <% @users.each do |user| %>
        <li>
          <%= link_to "#{image_tag(user.steam_image, :class => 'image')}#{user.steam_nickname}".html_safe, profile_path(user.steam_id), "data-remote" => true %>
        </li>
    <% end %>
	</ul>
<% end %>