(function(){
	$("#search-results").html("<%=j render partial: "index"%>");
    $("#search-results").removeClass('before-search');
    $("#search-results").addClass('after-search');

    $("#search-results").on('click', 'a[data-remote=true]', function(e) {
        history.pushState($(this).attr('href'), "Dota2Connect", $(this).attr('href'));
    });
})();
