(function(){
	$("#content").html("<%=j render partial: "notifications/friend_request", locals: {friend_requests: @friend_requests}%>");
	populateFlashMessage("Friend request declined", "notice");	
})();
<% publish_to '/user/' + @friend_id do %>
$("#notifications").text("Notifications(New)");
$("#chatAudio")[0].play();
<% end %>