<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>

    <h1><%= link_to "#{@reciever}", profile_path(id: @reciever_id), remote: true %></h1>
    <!--<h1><%= @reciever %> </h1>-->
  </div>
  <div class="chatboxoptions">
    <%= link_to "<i class='fa  fa-minus'></i> ".html_safe, "#", class: "toggleChatBox", "data-cid" => @conversation_id %>
    &nbsp;&nbsp;
    <%= link_to "<i class='fa  fa-times'></i> ".html_safe, "#", class: "closeChat", "data-cid" => @conversation_id %>
  </div>
  <br clear="all"/>
</div>
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>
</div>
<div class="chatboxinput">
  <form accept-charset="UTF-8" action="/messages" class="new_message" data-remote="true" id="conversation_form_<%= @conversation_id %>" method="post">
    <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
    <input type="hidden" name="recepient_id" value="<%= @recepient_id %>">
    <textarea class="chatboxtextarea" data-cid="<%= @conversation_id %>" id="message_body" name="message[body]" style="overflow: auto; height: 44px;"></textarea>
  </form>
</div>

<script type="text/javascript">
    if ($.inArray("<%= @recepient_id %>", dota2connect.new_messager_ids) !== -1) {
        var index = dota2connect.new_messager_ids.indexOf("<%= @recepient_id %>");
        dota2connect.new_messager_ids.splice(index, 1);
        if (dota2connect.new_messager_ids.length > 0)
            $('#all-messages').text("Messages(" + dota2connect.new_messager_ids.length + ")");
        else
            $('#all-messages').text("Messages");
    }
</script>

<%= subscribe_to '/' + @conversation_id %>