<div>
<ul>
<%coaching_requests.each do |request|%>
	<li>
	<div class="notification-profile">
		<%=image_tag(request.steam_image, class: 'image')%> <%=request.steam_nickname%>
	</div>
	<div class="notification-btn-wrapper">
		<%=link_to "Accept", accept_free_request_coach_path(coach_id:session[:current_user]["uid"], coachee_id: request.steam_id ), method: :put,:class=>"primary-btn", remote: true%>
		<%=link_to "Decline", decline_free_request_coach_path(coach_id:session[:current_user]["uid"], coachee_id: request.steam_id ), method: :put, :class=>"secondary-btn", remote: true%>
	</div>
	</li>
<%end%>
</ul>
<ul>
<%notifications.each do |notification|%>
	<li>
	<div>
		<%=notification.body%> on <%=Time.at(notification.timestamp).strftime("%B %e, %Y at %I:%M %p")%>
	</div>
	</li>
<%end%>
</ul>
