<ul>
<%friend_requests.each do |request|%>
	<li>
	<div class="notification-profile">
		<%=image_tag(request.steam_image, class: 'image')%> <%=request.steam_nickname%>
	</div>
	<div class="notification-btn-wrapper">
		<%=link_to "Accept", accept_request_friend_path(id:session[:current_user]["uid"], friend_id: request.steam_id ), :class=>"primary-btn" ,method: :put, remote: true%>
		<%=link_to "Decline", decline_request_friend_path(id:session[:current_user]["uid"], friend_id: request.steam_id ), :class=>"secondary-btn" ,method: :put, remote: true%>
	</div>
	</li>
<%end%>
</ul>
