<div class="container notification">

  <aside class="notification-menu" id="sidebar" role="navigation">
    <ul class="nav">
      <li class="active"><%= link_to "Friend Requests"+@formatted_friend_request_count, friend_requests_notification_path, id: "friend_requests", remote: true if user.same_as(session[:current_user]) %></li>
      <li><%= link_to "Coaching Notifications"+@formatted_coaching_request_count, coaching_requests_notification_path(id: user.steam_id),  id: "coaching_notifications", remote: true %></li>
    </ul>
  </aside>
  <div class="profile-innerwrapper">
    <h1 class="page-title">Notifications</h1>
    <div class="notification-details" id="content">
      <%= render partial: "friend_request", locals: {friend_requests: friend_requests} %>
    </div>
  </div>
</div>
