(function(){
	$("#home").html("<%=j render partial: "show", locals: {user: @user, friend_requests: @friend_requests}%>");
    highlightActiveMenu();
    $("#coaching_notifications").click(function(){
        $("#coaching_notifications").text('Coaching Notifications');
    });
})();
