<div class="modal fade" id="modal_window" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" class="">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modal_label">Modal Header</h4>
			</div>
			<div style="display:none" id="error_explanation">
				<h2 id="error_title"></h2>
				<ul id="error_line_items">
				</ul>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>
