<div id="search-results" class="search-result before-search animated fadeIn"></div>
<div class="search-actions animated fadeIn">
<%= form_tag('/search', method: 'get', remote: true) do %>
<fieldset>
    <h1 class="section-title">Search Coaches</h1>

    <div class="form-action-container">
        <div class="form-action-control">
            <label for="amount">Price per hour:</label>
            <input type="text" id="amount" name="amount" readonly class="search-input-text">
        </div>
        <div class="form-action-control" id="price-range"></div>
    </div>
    <div class="form-action-container">
        <div class="form-action-control">
            <label for="mmr">MMR range:</label>
            <input type="text" id="mmr" name="mmr" readonly class="search-input-text">
        </div>
        <div id="mmr-range"></div>
    </div>
    <div class="form-action-container">
        <div class="form-action-control">
            <!-- <input id="online" name="online" type="checkbox"> -->
            <label>Online Coaches Only</label>
            <span class="onoffswitch">
                <input type="checkbox" name="online" class="onoffswitch-checkbox" id="online" >
                <label class="onoffswitch-label" for="online">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </span>
        </div>
    </div>
    <div class="form-action-container">
        <div class="form-action-control">
            <label for="region">Region</label>
            <% @regions.insert(0, 'Any') %>
            <%= select_tag(:region, options_for_select(@regions)) %>
        </div>
    </div>
    <div class="form-action-container form-action-btn">
        <%= submit_tag('Search') %>
    </div>
</fieldset>
<% end %>
</div>
<div class="advertised-coaches">
  <div class="text-center">
    <h2 class="section-title">Free coaches</h2>

    <p><a href="/profiles/76561198087963044" data-remote="true" class="push-state">M33</a></p>
    <p><a href="/profiles/76561198112565671" data-remote="true" class="push-state">Three K scruBLord</a></p>

  </div>
  <div class="text-center">
    <h2 class="section-title">Coaches with free sample session</h2>
    <p><a href="/profiles/76561198065921482" data-remote="true" class="push-state">Sumire</a></p>
    <p><a href="/profiles/76561198024793183" data-remote="true" class="push-state">Az7y -</a></p>
    <p><a href="/profiles/76561198216133164" data-remote="true" class="push-state">xG.XoD^</a></p>
  </div>
</div>
<script>
    $(function () {
        $("#price-range").slider({
            range: true,
            min: 0,
            max: 100,
            values: [0, 10],
            slide: function (event, ui) {
                $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
        });
        $("#amount").val("$" + $("#price-range").slider("values", 0) +
        " - $" + $("#price-range").slider("values", 1));
    })
    $(function () {
        $("#mmr-range").slider({
            range: true,
            min: 1000,
            max: 9000,
            values: [3000, 7500],
            slide: function (event, ui) {
                $("#mmr").val(ui.values[0] + " - " + ui.values[1]);
            }
        });
        $("#mmr").val($("#mmr-range").slider("values", 0) +
        " - " + $("#mmr-range").slider("values", 1));
    });
    $('a[data-remote = true]').click(function () {
        if($(this).hasClass("push-state"))
            history.pushState($(this).attr('href'), "Dota2Connect", $(this).attr('href'));
    })
</script>