<%=form_for coaching, url: coaches_path, method: :post, remote: true do |c|%>
	<div class="payment-popup-content">
		<div class="payment-popup-rate">
			<%=c.label :rate%>
			<%=coaching.rate%>
			<%=c.label :hours%>
			<%=c.collection_select(:hours, hours,:to_s, :to_s) %>
		</div>
        <div>
      Paying from an Indian bank/card ? <input type="checkbox" name="payment_gateway" id="indian-payment-gateway" value="India"> Yes
        </div>
		<%=c.hidden_field "coach", value: coach.steam_id%>
		<%=c.hidden_field "coachee", value: coachee.steam_id%>
	</div>
    <div class="modal-footer" id="paypal-footer">
        <a id="pay-cc-avenue-1" class="pay-cc-avenue pointer hidden"><img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png" alt="Pay"></a>
        <a id="pay-cc-avenue-2" class="pay-cc-avenue pointer hidden"><img src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png" alt="Pay"></a>
        <button type="button" id="pay-cc-avenue-2" class="btn btn-primary pay-cc-avenue hidden">Pay</button>
        <%= link_to image_tag('https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_cc_144x47.png'), payment_pay_path(:coach_id => coach.steam_id, :hours => 1), :id => 'paypal-button' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>

<%end%>
<form  method="post" id="pay-cc-avenue-form-1" name="redirect" action="<%=@CCAVENUE_URL %>/transaction/transaction.do?command=initiateTransaction&encRequest=<%=@encrypted_request %>&access_code=<%=@CCAVENUE_ACCESS_CODE %>">
  <input type="hidden" name="encRequest" value="<%= @encrypted_request %>">
  <input type="hidden" name="Merchant_Id" value="<%=@CCAVENUE_MERCHANT_ID %>">
</form>

<form method="post" id="pay-cc-avenue-form-2" name="redirect" action="<%=@CCAVENUE_URL %>/transaction/transaction.do?command=initiateTransaction&encRequest=<%=@encrypted_request2 %>&access_code=<%=@CCAVENUE_ACCESS_CODE %>">
  <input type="hidden" name="encRequest" value="<%= @encrypted_request2 %>">
  <input type="hidden" name="Merchant_Id" value="<%=@CCAVENUE_MERCHANT_ID %>">
</form>

  <script type="text/javascript">

    $("#pay-cc-avenue-1").click(function(){
        $("#pay-cc-avenue-form-1").submit();
    });

    $("#pay-cc-avenue-2").click(function(){
        $("#pay-cc-avenue-form-2").submit();
    });

    $("#indian-payment-gateway").change(function () {
        if(this.checked){
            $("#paypal-button").addClass("hidden");
            $(".pay-cc-avenue").addClass("hidden");

            if ($('#coaching_session_hours').val() === "1") { $("#pay-cc-avenue-1").removeClass("hidden") }
            if ($('#coaching_session_hours').val() === "2") { $("#pay-cc-avenue-2").removeClass("hidden") }
        }
        else
        {
            $("#paypal-button").removeClass("hidden");
            $(".pay-cc-avenue").addClass("hidden");
        }
    })

    $('#coaching_session_hours').change(function () {
        $("#paypal-button").attr("href", $("#paypal-button").attr("href").replace(/hours=\d+/g, 'hours='+ $('#coaching_session_hours').val()));

        if($("#indian-payment-gateway").is(":checked")){
            $(".pay-cc-avenue").addClass("hidden");

            if ($('#coaching_session_hours').val() === "1") { $("#pay-cc-avenue-1").removeClass("hidden") }
            if ($('#coaching_session_hours').val() === "2") { $("#pay-cc-avenue-2").removeClass("hidden") }
        }

    })
</script>

