<%=form_for @session, url: add_review_rating_coach_path(id: @coach.steam_id, uuid: @session.uuid), method: :put, remote: true  do |u|%>
	<div class="review-rating-popup">
	<div class="provide-rating">
		<%=u.label :rating%>
		<%=u.select(:rating, @review_ratings, {:include_blank => "Select a rating"})%>
	</div>
	<div class="provide-review">
		<%=u.label :review%>
		<%=u.text_area(:review, cols: 30, rows: 4)%>
	</div>
	</div>
	<div class="modal-footer">
		<%=u.submit "Submit", class: "btn btn-primary", data: {disable_with: "Processing..."}%>
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
<%end%>
