<div class="sign-in">
  <%= link_to image_tag("https://steamtracks.com/assets/steam_login-7694b897463a802a6a001a921b207f4c.png", :class => "image"), '/auth/steam' %> to chat with the coach and make payments
</div>