(function(){
	$("#content").html("<%=j render partial: "notifications/coaching_requests", locals: {coaching_requests: @coaching_requests, notifications: @notifications}%>");
	populateFlashMessage("Accepted coaching request", "notice");	
})();
<% publish_to '/user/' + @friend_id do %>
$("#notifications").text("Notifications(New)");
$("#chatAudio")[0].play();
<% end %>