(function(){
	$("#content").html("<%=j render partial: "profiles/profile", locals: {user: @coach}%>");
	populateFlashMessage("Free coaching request request sent", "notice");	
})();
<% publish_to '/user/' + @friend_id do %>
$("#notifications").text("Notifications(New)");
$("#chatAudio")[0].play();
<% end %>
