<h1 class="section-title"> Contact Us</h1>

<p class="text-center">Feel free to contact us at dota2connect@gmail.com. Also we would love to hear your feedback :) </p>
<p class="text-center">Phone: +91 9731001990</p>
<p class="text-center">Phone: +91 9686602242</p>
