/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-margin{
 margin-top: 30px;
}

.new-message{
    color: red;
}
.read-message{
    color: cornflowerblue;
}
.flash_orientation{
	text-align: center;
	padding: .3em .4em !important;
	clear: both;
	margin-left: 6em;
	margin-right: 6em;
	max-width: 59em;
}
.parent_width{
	width: inherit;
	margin-bottom: 30px;
}

.hand-cursor{
    cursor: pointer;
}
.heading{
    color: #000000;
    font-weight: bolder;
}
.small-text{
    color: #666666;
    font-weight: 100;
}
#accordion .blue{
    color: blue;
}
.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-center{
    text-align: center;
}
.footer-text{
    font-size: smaller;
}
.hidden{
    display: none!important;
    visibility: hidden!important;
}
.alert-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.pointer{
    cursor: pointer;
}
.sign-in{
    text-align: center;
    margin: 1em;
}
.advertised-coaches{
    box-sizing: border-box;
    background:#f9f9f9;
    overflow-y:scroll;
    box-shadow: 0px 2px 7px #888888;

}