<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <meta content='<%= session.key?(:current_user) ? session[:current_user]['uid'] : '' %>' name='user-id'/>
  <meta content='<%= session.key?(:current_user) ? session[:current_user]['image'] : '' %>' name='user-image'/>
  <title>Dota2Connect</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300|Codystar|Roboto|Monofett|Pathway+Gothic+One|Bangers|Kranky|Play|Allerta+Stencil' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application' %>
  <!--todo: need to pair with u to replace these js inclusions in the right folder hierarchy and with proper tags -->
  <% if session.key? :current_user %>
      <% set_new_messager_ids %>
      <script type="text/javascript">
          dota2connect.new_messager_ids = <%= raw @new_messager_ids.to_json %>
      </script>
  <% end %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=352757034841905";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="wrapper  <% if session.key? :current_user %> logged-in
  <% else %> guest
  <% end %>">
  <header class="site-header">
    <div class="menu-bar-container">
      <div class="navbar-header">
      </div>
      <a data-remote="true" href="/" class="logo push-state"><%= image_tag 'logo.jpg' %></a>
      <nav id="navbar" class="menu-bar">
        <ul>
          <% if session.key? :current_user %>
              <li>
                <a id="all-messages" data-remote="true" class="push-state" href= <%= messages_path %>><i class="fa fa-envelope-o"></i>Messages <%= get_new_message_count %>
                </a>
              </li>

              <li>
                <a id="notifications" data-remote="true" class="push-state" href= <%= notification_path(id: session[:current_user]['uid']) %>><i class="fa fa-bell-o"></i>Notifications</a>
              </li>

              <li>
                <%= link_to "#{image_tag(session[:current_user]['image'], :class => 'image')}#{session[:current_user]["nickname"]}".html_safe, profile_path(id: session[:current_user]['uid']), remote: true, class: 'push-state' %>
              </li>

          <% end %>
          <!--<li>-->
            <!--<% if session.key? :current_user %>-->
                <!--<a class="hand-cursor" id="chat-button"><i class="fa fa-comment-o"></i>chat</a>-->
            <!--<% end %>-->
          <!--</li>-->
          <li>
            <% if session.key? :current_user %>
                <%= link_to 'Sign out', '/logout', :method => :delete %>
            <% else %>
                <%= link_to image_tag("https://steamtracks.com/assets/steam_login-7694b897463a802a6a001a921b207f4c.png", :class => "image"), '/auth/steam' %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="flash_message">
  </div>
  <% if (notice && !session.key?(:current_user))%>
    <p id="notice" class="alert alert-info flash_orientation"><%= notice %></p>
  <% end %>
  <div id="full-page">
    <section class="welcome <%if @from_footer != nil%> hidden <%end%>">
      <p class="tagline">Our
        <MARK>coaching</MARK>
        is your opportunity to take your Dota2 status from "noob" to "pro"
      </p>
      <div class="tagline-desc">
        <div class="tagline-desc-l"><span>Wanna be a Coach?</span>.</div>
        <div class="tagline-desc-c sumo"></div>
        <div class="tagline-desc-r"><span>Looking for a Coach?</span></div>
      </div>
    </section>
    <div class="container-wrapper">
      <section class="how-it-works <%if @from_footer != nil%> hidden <%end%>">
        <h1>How it works</h1>

        <div class="hiw-wrapper">
          <div class="hiw-video">
            <iframe width="460" height="250" src="https://www.youtube.com/embed/pSiMGxhJ-ew" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="hiw-desc">
            <p>* Search for specific coaches based on MMR, price, region or language.</p>

            <p>* Sign in through your steam account to chat with any coach.</p>

            <p>* Chat with the coach, you can ask for free/paid coaching. </p>
            
            <p>* Get your first coaching session for free from selected coaches.</p>

            <p>* Money back guarantee if you're not satisfied.</p>

            <p>* OR If you’re looking to be a coach, take a look at <a class="faq-link" href="#">FAQ</a></p>

          </div>
        </div>
      </section>
      <section class="lets-start">

        <h1 class="lets-start-title">Let's get started</h1>
        <div id="home" class="search-coaches-wrapper">
          <%= yield %>
        </div>
        <% if session.key? :current_user %>
            <section id="chat-section" class="chat-section animated fadeIn" data-url="">
              <header>Chat</header>

              <ul>
                <% get_friends.each do |friend| %>
                    <!--todo: beautify this similar to fb chat !-->
                    <li>
                      <a class="btn btn-xs start-conversation" data-sid="<%= session[:current_user]['uid'] %>" data-rip="<%= friend['steam_id'] %>"><%= friend['name'] %></a>
                    </li>
                <% end %>
              </ul>
            </section>

            </section>
            <div id="sample-self-message" class="hidden">
              <li class="self">
                <div class="avatar">
                  <img src="<%= session[:current_user]["image"] %>"/>
                </div>
                <div class="chatboxmessagecontent">
                  <p class="message-text"></p>
                  <time class="message-time"></time>
                </div>
              </li>
            </div>
        <% end %>
        </div>

    <% if session.key? :current_user %>
        <%= subscribe_to '/' + 'user/' + session[:current_user]['uid'] %>
    <% end %>
  </div>

</section>

  <footer class="footer-wrapper">
    <span class="faq-link">FAQ</span> |
   Feel free to contact us at <a href="mailto:dota2connect@gmail.com?Subject=Hello" target="_top">dota2connect@gmail.com</a>
  </footer>

  <div class="faq-overlay">
    <a href="#" id="faq-close">X</a>
    <div class="faq-questions">
    <p><span>How can I be a coach ?</span></br>
Onc you sign in, navigate to your profile page, click on Edit and choose “Is a Coach” option. For your coaching profile to show up in the search results you will have to be verified by one of the admins. You can add us on steam and ask for verification (<a href="https://steamcommunity.com/profiles/76561198082993146" target="_blank">Dota2Connect</a>). Once you're verified your profile will start showing up in Search results. You can also reach out to us at dota2connect@gmail.com</p>

<p><span>How do i get paid from dota2connect?</span></br>
If you have a paypal account we can transfer your coaching money to it on a weekly basis. Or if you prefer it transferred to any other bank account we can work that out as well.</p>

<p><span>How do I already have some friends when I signed in ?</span></br>
All your steam friends who have used our website are automatically added as friends, so that you don't have to go through the pain of adding them again.</p>
</div>
  </div>
  <audio id="chatAudio">
    <source src="/sounds/notification.mp3" type="audio/mpeg">
  </audio>
  <%= render "shared/modal" %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65136823-1', 'auto');
    ga('send', 'pageview');

</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/56560019d9933c4d520bef5b/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
